h1:before {
  content: '<h1> ';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1rem;
  /* position: absolute; */
  /* margin-top: -5 rem;
  left: -1.5 rem; */
}

h1:after {
  content: ' <h1/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1rem;
  /* position: absolute; */
  /* margin-top: 2 rem;
  margin-left: 5 rem; */
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  margin-left: 20px;

}

h1:hover{
  color: #6829e9;
}
