* {
  margin: 0;
  padding: 0;
}

.Roboto {
  font-family: 'Roboto', arial, helvetica, sans-serif;
}

@font-face {
  font-family: 'CascadiaCode';
  src: local('CascadiaCode'),
   url("./fonts/CascadiaCode-Regular.ttf") format("truetype");
   font-weight: regular;
}

.CascadiaCode {
  font-family: "CascadiaCode";
}

.LaBelle {
  font-family: 'La Belle Aurore', cursive;
  font-size: 1rem;
  color: #515152;
}

body {
  background-color: #0d1212;

}

